.circle {
    width: 200px;
    height: 200px;
    background-color: #3498ab;
    border-radius: 50%;
    position: relative;
    top: 120px; 
    left: 50pt;
    animation-name: cambio;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes cambio {
  0%  {position: relative;
    top: 120px; 
    left: 50pt}
  10% {position: relative;
    top: 300px; 
    left: 400pt}
  15% {width: 400px;
    height: 100px;}
  12% {background-color: #3498ab}
  20% {background-color: #79df52}
  100%{width: 200px;
    height: 200px;
    background-color: #3498ab;
    border-radius: 50%;
    position: relative;
    top: 120px; 
    left: 50pt;}
}